<!DOCTYPE html>
<html>
<head>
  <title>To Do App</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group">
      <h1>To-Do <small>List</small></h1>
    <form role="form">
        <input [(ngModel)]="newTask" type="text" class="form-control" placeholder="Your Task" name="task">
    </form>
    <button type="button" class="btn btn btn-primary"  (click)="pushTask()">Add</button>
        </div>
        <div></div>
    <ul class="list-unstyled" id="todo">
      <li *ngFor = "let i of tasks; let ind=index">
    {{i}}
    <span (click)="removeTask(ind)">X</span>
  </li>
    </ul>
</body>
</html>